.categories {
  &__container {
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: rem(10);
  }

  &__item {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
    padding: rem(15);
    @media(any-hover: hover){
      &:hover{
        cursor: pointer;
        box-shadow: 0px 0px 12px #278BE8;
      }
    }
  }
}

.category {
  &__icon {
    position: relative;
    padding-bottom: rem(100);
    margin-bottom: rem(20);
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
  }

  &__link {
    text-align: center;
    padding: rem(10) 0;
    background: rgba(39, 139, 232, 0.2);
    border-radius: 5px;
    color: #30A1E1;
    @media(any-hover: hover){
      &:hover{
        cursor: pointer;
        color: #FFFFFF;
        background-color: #278BE8;
      }
    }
  }
}
