@import "notification/notification";
.page {
  &__my-profile {
    margin-bottom: rem(120);
  }
  &__notifications-content {
  }
}

.notifications {
  &__container {
  }
}

.notifications-content {
  &__block {

  }
}

.notifications-block {
  &__title {
  }

  &__actions {
  }

  &__notification {
    padding: rem(20) 0;
    position: relative;
    &:last-child{
      padding-bottom: 0;
    }
    &:first-child{
      padding-top: 0;
    }
    &:not(:last-child){
        &:before{
          content: "";
          position: absolute;
          bottom: 0;
          left: rem(-23);
          width: calc(100% + 46px);
          height: 1px;
          background-color: #E5E7EB;
        }
    }
    &_important {
      .notification-item{
        &__time {
          &:before{
            content: "";
            width: rem(8);
            height: rem(8);
            background: #EA3829;
            border-radius: 50%;
          }
        }
      }
    }
  }
}



.notifications-actions {
  &__tabs {
    margin-bottom: rem(15);
  }

  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(15);
    @media(max-width:$tablet){
        flex-direction: column;
      align-items: flex-start;
      row-gap: rem(15);
    }
  }
}

.notifications-tabs {
  &__tab {
  }

  &__tab-button {

  }
}
.notifications-filter {
  &__side {
    display: flex;
    align-items: center;
    column-gap: rem(15);
    @media(max-width:$tablet){
      width: 100%;
    }
  }

  &__input-box {
    border: 1px solid rgba(77, 151, 193, 0.2);
    border-radius: 5px;
    flex: 0 0 rem(300);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width:$tablet){
        flex: 1 1 auto;
    }
  }

  &__input {
    padding-left: rem(15);
    outline: none;
  }

  &__submit {
    padding: rem(11) rem(15);
    border-left: 1px solid rgba(77, 151, 193, 0.2);
    width: 18px;
    height: 18px;
    box-sizing: content-box;
  }

  &__item {
    display: block;
    padding: rem(11) rem(15);
    border: 1px solid rgba(77, 151, 193, 0.2);
    border-radius: 5px;
    width: 18px;
    height: 18px;
    box-sizing: content-box;
  }

  &__days {
    display: flex;
    column-gap: rem(2);
    padding: rem(2);
    border: 1px solid rgba(77, 151, 193, 0.2);
    border-radius: 5px;
  }

  &__day {
    padding: rem(10) rem(25);
    border-radius: 3px;
    color: #80A4B8;
    transition: background-color 0.3s ease,color 0.3s ease;
    &.active, &:hover {
      color: #FFFFFF;
      background-color: #30A1E1;
    }
  }
}

