.hf-layout{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: rem(12) 0;
  background-color: #1B2C81;
  &__container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: rem(10);
  }
  &__link{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
  }
}
.page-layout{
  height: 100%;
}
.pages-layout{
  max-height: calc(100vh - 205px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.section-title{
  font-weight: 600;
  font-size: rem(30);
  line-height: math.div(37,30);
  color: #424141;
}
.profile-page-box{
  display: flex;
  @include adaptiveValue("column-gap", 24, 10);
  @media(max-width:$tablet){
      flex-direction: column;
      row-gap: rem(10);
  }
}
.more-link{
  font-weight: 500;
  font-size: rem(14);
  line-height: math.div(20,14);
  color: #30A1E1;
}
.notifications-count{
  position: absolute;
  right: -4.5px;
  top: rem(-0.5);
  background: #E22D38;
  border-radius: 50%;
  color: #FFFFFF;
  width: rem(16);
  height: rem(16);
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-title {
  font-weight: 700;
  font-size: rem(22);
  line-height: math.div(35,22);
  color: #141414;
  margin-bottom: rem(15);
}
@import "message";
