.hf-layout{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: rem(12) 0;
  background-color: #1B2C81;
  &__container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: rem(10);
  }
  &__link{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
  }
}
.page-layout{
  height: 100%;
}
.pages-layout{
  &.home  {
    max-height: calc(100vh - 120px);
  }
  max-height: calc(100vh - 205px);
  @media(max-width:$tablet){
    max-height: calc(100vh - 120px);
  }
  overflow-y: scroll;
  overflow-x: hidden;
}
.section-title{
  font-weight: 600;
  font-size: rem(30);
  line-height: math.div(37,30);
  color: #424141;
}
.profile-page-box{
  display: flex;
  @include adaptiveValue("column-gap", 24, 10);
  @media(max-width:$tablet){
      flex-direction: column;
      row-gap: rem(10);
  }
}
.more-link{
  font-weight: 500;
  font-size: rem(14);
  line-height: math.div(20,14);
  color: #30A1E1;
}
.notifications-count{
  position: absolute;
  right: -4.5px;
  top: rem(-0.5);
  background: #E22D38;
  border-radius: 50%;
  color: #FFFFFF;
  width: rem(16);
  height: rem(16);
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn {
  padding: rem(12) rem(25);
  background-color: #278BE8;
  border-radius: 5px;
  color: #EEEEEE;
  display: inline-flex;
  column-gap: rem(10);
  &.team-actions__add-btn{
    margin-left: auto;
  }
  & > span{
    flex: 0 0 rem(16);
    width: rem(16);
    height: rem(16);
    position: relative;
    span{
      display: block;
      position: absolute;
      width: 100%;
      top: calc(50% - 1px);
      height: 2px;
      background-color: #FFFFFF;
    }
    span:last-child{
      transform-origin: center;
      left: 0.3px;
      transform: rotate(90deg);
    }
  }
}
.button-delete{
  display: flex;
  align-items: center;
  column-gap: rem(5);
  padding: rem(10) rem(25);
  background-color: rgba(200, 95, 95, 0.2);
  border-radius: 5px;
  font-weight: 500;
  font-size: rem(14);
  line-height: math.div(16,14);
  color: #E22D38;

  span{
    display: flex;
  }
}
.back-arrow{
  width: rem(21);
  flex: 0 0 rem(21);
  height: rem(21);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  span{
    display: block;
    width: rem(9);
    height: rem(2);
    background-color: #B7C2C9;
    transform-origin: center left;
    border-radius: rem(1);
  }
  span:first-child{
    transform: rotate(-45deg) translateY(2.1px);
  }
  span:last-child{
    transform: rotate(45deg) translateY(-2.1px);
  }
}
@import "message";
@import "profile";
