.file {
  &_margin_bottom{
    margin-bottom: rem(30);
  }
  &__box {
    background-color: rgba(39, 139, 232, 0.2);
    border: 1px dashed #278BE8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(5);
    @media(any-hover: hover){
      &:hover{
        cursor: pointer;
      }
    }
  }

  &__label {
    display: flex;
    column-gap: rem(10);
    font-weight: 500;
    font-size: rem(14);
    line-height: math.div(16,14);
    color: #278BE8;
    padding: rem(22) 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    @media(any-hover: hover){
      &:hover{
        cursor: pointer;
      }
    }
    &:before{
      content: "";
      width: rem(16);
      height: rem(16);
      background: url("../img/file.png") center/contain no-repeat;
      transform: translateY(-1px);
    }
  }

  &__input {
    position: absolute;
    left: -2000px;
    top: -2000px;
    opacity: 0;
  }
  &__item{
    display: flex;
    align-items: center;
    column-gap: rem(25);
    button{
      width: rem(21);
      height: rem(21);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      z-index: 1;
      span{
        display: block;
        width: rem(18);
        flex: 0 0 rem(2);
        border-radius: rem(1);
        background-color: #B7C2C9;
        transform-origin:  center;
      }
      span:first-child{
        transform: rotate(45deg);
      }
      span:last-child{
        transform: rotate(-45deg);
        margin-top: -2px;
      }
    }
  }
}
.files{
  margin-top: rem(10);
  &__title{
    font-size: rem(12);
    margin-bottom: rem(5);
  }
}
