.header {
  background-color: #FFFFFF;
  @media(max-width:$tablet){
    border-radius: 0px 0px 15px 15px;
  }
  border-bottom: 1px solid #DFE9EF;
  position: relative;
  &__container {
  }
  &__padding-bottom{
    width: 100%;
    padding-bottom: rem(92);
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width:$tablet){
      justify-content: flex-start;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    gap: rem(10);
    max-width: rem(232);
    padding: rem(10) 0;
    @media(any-hover: hover){
      &:hover{
            text-decoration: none;
      }
    }
  }

  &__menu {
    @media(min-width:$tablet){
      align-self: stretch;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: rem(30);
    @media(max-width:$tablet){
      margin-left: auto;
      margin-right: rem(20);
    }
  }

  &__search {
    position: relative;
    @media(max-width:$tablet){
      position: initial;
    }
    z-index: 1000;
  }

  &__search-button {
    position: relative;
    z-index: 2;
    width: rem(24);
    height: rem(24);
  }

  &__account {
    @media(max-width:$tablet){
      display: none;
    }
  }

  &__account-link {
    display: flex;
    column-gap: rem(10);
    align-items: center;
    padding: rem(15) rem(25);
    &.account{
      padding: rem(11) rem(15);
      padding-right: rem(5);
      position: relative;
    }
    background-color: #30A1E1;
    border-radius: 5px;
    font-weight: 600;
    font-size: rem(14);
    line-height: math.div(16,14);
    color: #FFFFFF;
  }

  &__account-button{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header-logo {
  &__img {
  }
  &__text{
    display: flex;
    gap: rem(10);
    align-items: center;
    @media(max-width:$tablet){
        flex-direction: column;
        gap: 0;
      align-items: flex-start;
    }
  }
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 40, 22);
    line-height: math.div(50,40);
    color: #30A1E1;
  }

  &__subtitle {
    font-weight: 600;
    @include adaptiveValue("font-size", 10, 8);
    line-height: math.div(14,10);
    color: #424141;
  }
}

.menu {
  @media(max-width:$tablet){
    min-height: fit-content;
    .open-menu &{
      opacity: 1;
      pointer-events: auto;
    }
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: calc(100% + 10px);
    width: calc(100% - 20px);
    transform: translateX(-50%);
    z-index: 100000;
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
  }
  &__burger{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(2);
    width: rem(20);
    span{
      width: 100%;
      flex: 0 0 rem(2);
      border-radius: 1px;
      background-color: #000000;
      transition: opacity 0.3s ease, transform 0.3s ease;
      transform-origin: center;
    }
    .open-menu &{
      span:first-child{
        opacity: 0;
      }
      span:last-child{
        opacity: 0;
      }

      span:nth-child(2){
        transform: rotate(-45deg) translateY(150%);
      }
      span:nth-child(3){
        transform: rotate(45deg)  translateY(-150%);
      }
    }
    @media(min-width:$tablet){
      display: none;
    }
  }
  &__list {
    display: flex;
    height: 100%;
    @media(max-width:$tablet){
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #FFFFFF;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
      border-radius: 10px;
    }
    &_device{
      &_mobile{
        @media(min-width:$tablet){
          display: none;
        }
        .menu__link{
          flex-direction: column;
          row-gap: rem(10);
        }
        .menu__avatar{
          position: relative;
          padding-bottom: rem(45);
          display: block;
          width: rem(45);
          border-radius: 50%;
          overflow: hidden;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  &__item {
  }

  &__link {
    padding: 0 rem(20);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #424141;
    font-weight: 600;
    font-size: rem(14);
    line-height: math.div(16,14);

    @media(max-width:$tablet){
      font-size: rem(16);
      padding: rem(10) rem(20);
      display: inline-flex;
    }
    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(22, 100, 172, 0) 69.38%, rgba(22, 100, 172, 0.2) 100%);
      border-bottom: 2px solid #30A1E1;
      scale: 0;
      opacity: 0;
      -webkit-transition: opacity 0.5s ease, scale 0.5s ease;
      -moz-transition: opacity 0.5s ease, scale 0.5s ease;
      -ms-transition: opacity 0.5s ease, scale 0.5s ease;
      -o-transition: opacity 0.5s ease, scale 0.5s ease;
      transition: opacity 0.5s ease, scale 0.5s ease;
      transform-origin: bottom center;
    }
    @media(any-hover: hover){
      &:hover{
        &:before{
          scale: 1;
          opacity: 1;
        }
        text-decoration: none;
      }
    }
  }
}
.header {
  &__accountMenu {
    position: absolute;
    background-color: #fff;
    top: 100%;
    width: 100%;
    left: 0;
    z-index: 100;
    transform-origin: top center;
    transition: max-height 0.4s linear 0s;
    overflow: hidden;
    max-height: 0px;
    &.open-exit, &.open-exit-active{
      max-height: 0px;
    }
    &.open-enter, &.open-enter-done{
      max-height: 400px;
    }
  }
}

.header-accountMenu {
  &__list {
  }
}

.accountMenu-list {
  &__item {
  }

  &__link {
    display: flex;
    align-items: center;
    column-gap: rem(5);
    padding: rem(14) rem(15);
    font-weight: 600;
    font-size: rem(14);
    line-height: math.div(16,14);
    @media(any-hover: hover){
      &:hover{
        color: #141414;
      }
    }
    color: #C2C2C2;
  }
}
