.notifications-window {
  position: absolute;
  transform: translateX(-50%) scale(0);
  left: 0;
  top: 40px;
  @media(max-width:$tablet){
      top: calc(100% + 10px);
  }
  transform-origin: top center;
  transition: transform 0.3s ease-in-out;
  &.open-enter-active, &.open-enter-done{
    transform: translateX(-50%) scale(1);
    @media(max-width:$tablet){
      transform: translateX(10px) scale(1);
    }
  }
  &__wrapper {
    width: 460px;
    @media(max-width:$tablet){
      width: calc(100vw - 20px);
    }
    background-color: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    padding:  rem(20) 0;
    border: 1px solid #E5E7EB;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 rem(20);
    padding-bottom: rem(20);
    position: relative;
    
    &:before{
      content: "";
      position: absolute;
      bottom: 0;
      left: -20px;
      width: calc(100% + 40px);
      height: 1px;
      background-color: #E5E7EB;
      z-index: 1;
    }
  }
  &__empty{
    padding: rem(20) 0;
  }
  &__title {
    font-weight: 500;
    font-size: rem(14);
    line-height: math.div(20,14);
    color: #1B1B1E;
  }

  &__more-link {
  }

  &__notifications {
    padding: 0 rem(20);
    max-height: 350px;
    overflow-y: auto;
    overflow-x: visible;
  }

  &__notification {
    display: flex;
    column-gap: rem(20);
    padding: rem(20) 0;
    & > div{
      position: relative;
      z-index: 2;
    }
    &_important {
      position: relative;
      &:before{
        content: "";
        position: absolute;
        width: rem(8);
        height: rem(8);
        background: #EA3829;
        border-radius: 50%;
        left: rem(-8);
        top: rem(12);
      }
    }

    &_late {
      position: relative;
      &:before{
        content: "";
        position: absolute;
        bottom: 0;
        left: -20px;
        width: calc(100% + 40px);
        height: 100%;
        background-color: #F6F6F8;
        z-index: 0;
      }
    }
  }
  &__footer {
    padding-top: rem(20);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      width: calc(100% + 40px);
      height: 1px;
      background-color: #E5E7EB;
      z-index: 1;
    }
  }

  &__more-link {
  }
}



.window-notification {
  &__icon {
    position: relative;
    padding-bottom: rem(40);
    border-radius: 50%;
    overflow: hidden;
    flex: 0 0 rem(40);
    align-self: flex-start;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }

  &__info {

  }

  &__actions {
    margin-top: auto;
    display: flex;
    @media(max-width:$tablet){
      flex-direction: column;
      row-gap: rem(10);
    }
    column-gap: rem(8);
  }
  &__buttons{
    display: flex;
    row-gap: rem(10);
    align-items: flex-start;
    flex-direction: column;
    &.mt-20{
      margin-top: rem(20);
    }
  }
  &__button{
    text-align: center;
    padding: rem(10) rem(40);
    @media(max-width:$tablet){
      padding: rem(5) rem(15);
    }
    font-size: rem(14);
    line-height: math.div(16,14);
    flex: 1 1 auto;
    &_active{
      border: 1px solid #30A1E1;
      border-radius: 5px;
      font-weight: 500;
      color: #30A1E1;
      transition: background-color 0.3s ease, color 0.3s ease;
      @media(any-hover: hover){
        &:hover{
          background-color: #30A1E1;
          color: #FFFFFF;
        }
      }
    }
    &_no-active {
      background-color: #F5F5F5;
      border-radius: 5px;
      font-weight: 600;
      color: #C2C2C2;
    }
    &_dangerous{
      background-color: rgba(200, 95, 95, 0.2);
      border-radius: 5px;
      font-weight: 500;
      font-size: rem(14);
      line-height: math.div(16,14);
      color: #E22D38;

    }
  }


}
.window-notification-info {
  font-size: rem(14);
  line-height: math.div(20,14);
  &__date {
    display: flex;
    align-items: center;
    column-gap: rem(8);
    font-weight: 500;
    color: #AAAAAA;
    margin-bottom: rem(8);
  }
  &__title{
    bold, a{
      font-weight: 600;
    }
    color: #1B1B1E;
  }
}
