.search-box {
  position: absolute;
  top: -16px;
  right: -20px;
  width: rem(460);
  @media(max-width:$tablet){
    width: calc(100vw - 20px);
    top: calc(100% + 10px);
    right: 10px;
  }
  background: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  border: 1px solid #E5E7EB;
  border-radius: 8px 8px 0px 0px;
  transform-origin: right top;
  transform: scale(0);
  transition: transform 0.4s ease-in-out;
  &.open-enter-active, &.open-enter-done{
    transform: scale(1);
  }
  &__input-box {
    padding: rem(20);
  }

  &__input {
    width: 90%;
    outline: none;
  }

  &__results {
    max-height: rem(400);
    overflow: auto;
  }
}
.search-results {
  &__section {
    font-weight: 600;
    font-size: rem(14);
    line-height: math.div(16,14);
    /* identical to box height, or 114% */
    padding: 0 rem(20);
    color: #C2C2C2;
  }

  &__item {
    padding: 0 rem(20) ;
    display: flex;
    align-items: center;
    column-gap: rem(10);
    a{
      display: block;
    }
  }

  &__item-image {
    position: relative;
    padding-bottom: rem(40);

    flex: 0 0 rem(40);
    border-radius: 50%;
    overflow: hidden;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }

  &__item-name {
    padding:  rem(20) 0;
  }
}
